img{
    flex: right;
    height:150px;
    width: 200px; 
    margin: 0px 0px 0px 100px;
 
    }

h1{
    margin: 0px 0px 0px 0px ; 
} 

p{
    margin: 0 auto;
    
}

div{
    margin: 0 auto;
    align: center ;
}
